*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to left, purple,dodgerblue);
    height: 100vh;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 16px;
    
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
    
}
.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 350px;
    flex-wrap: nowrap;
    padding: 10px;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 10px;
    margin: 5px;

}
input{
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(212, 211, 211);
    
}
button{
    padding: 0 15px;
    margin: 10px;
    width: 100px;
    height: 44px;
    background-color: blueviolet;
    border-radius: 5px;
    border: 2px solid;
    outline: none;
    color:white;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;


}
.item-tarefa{
    background-color: gainsboro;
    box-shadow: 3px 4px 4px black;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    list-style: none;
    font-weight: 700;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 56px;
    font-weight: 200;
    color: yellow;
    text-shadow: 5px 5px 5px orangered;
    margin: 10px;
    animation: letras 2s ease infinite alternate;

}

@keyframes letras {
   
    0%{
        transform: scaleX(1.3);
    }
    100%{ transform: scaleY(1.1);}
    
}